html, body {
	width: 100%;
	margin: 0;
}
body {
	background: black;
	color: white;
	font-family: var(--font-bebasNeue);
}

a {
	color: white;
}
h1 {
	font-size: 3em;
}
h1 a {
	text-decoration: none;
}
p, li {
	font-family: var(--font-benne);
	font-size: 1.5em;
	line-height: 1.5;
}

ul {
	list-style-type: none;
}
