.body {
	display: flex;
	align-items: flex-start;
}

.left {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right {
	padding-right: 40px;
}

@media (max-width: 1000px) {
	.body {
		display: block;
	}
	.left {
		position: initial;
	}
	.right {
		padding-left: 10px;
		padding-right: 10px;
	}
}
