.italic {
	font-style: italic;
}
.horizontal {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
/* having to redefine this for every text element outside of globals
 * might come back to haunt me, but I think it's okay for now */
.horizontal a {
	font-size: 1.5em;
	font-family: var(--font-benne);
}
