/* flextravaganza! */
.player {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 60%;
}
@media (max-width: 600px) {
	.player {
		width: 80%;
	}
}
@media (max-width: 400px) {
	.player {
		width: 95%;
	}
}
.nowPlaying {
	border: 1px solid white;
	border-bottom: none;
	display: inline-block;
	font-size: 2.5em;
	text-align: center;
}
.playerLine {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.button {
	color: white;
	background: black;
	font-size: 30px;
	border: 1px solid white;
	border-right: none;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rangeContainer {
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid white;
	height: 50px;
	font-size: 30px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	font-family: serif;
	flex-grow: 1;
}
/* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
.range {
	width: 100%;
	background: none;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}
.range::-webkit-slider-runnable-track {
	border: 1px solid white;
	height: 0.5rem;
	/* make it look like the circle is at the end when it is */
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
.range::-moz-range-track { /* for some reason, I can't use a comma and put these together? it's really weird to me idk */
	border: 1px solid white;
	height: 0.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
/* TODO:
 * On mozilla, the thumb can move through the whole input, so making the runnable
 * track slightly shorter (as above) means that at the end of the volume slider,
 * the circle can appear past it. The same is not true for webkit-based browsers,
 * as shortening the track also shortens the area that the thumb can move in.
 * So, a solution needs to be found for having the circle not be in the track */
.range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	aspect-ratio: 1;
	background: black;
	border: 1px solid white;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	/* webkit needs some extra */
	margin-top: -5px;
}
.range::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	aspect-ratio: 1;
	background: black;
	border: 1px solid white;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
}
