.shows {
	display: flex;
	align-items: flex-start;
}
.shows button {
	background: none;
	color: white;
	border: 1px solid white;
	border-bottom: none;
	width: 100%;
	font-family: var(--font-bebasNeue);
	font-size: 1.5em;
	padding: 5px;
}
.shows button.selected, .shows button:hover {
	background: white;
	color: black;
}
.shows button:last-child {
	border-bottom: 1px solid white;
}
.shows button:hover {
	cursor: pointer;
}
/* by using classes and display: table, we can take away display: table for a
 * mobile site while still having it act as a table on wider screens */
.table {
	display: table;
	flex-grow: 1;
	font-family: var(--font-benne);
	font-size: 1.5em;
}
.row {
	display: table-row;
}
.cell {
	padding: 5px;
	display: table-cell;
}

@media (max-width: 800px) {
	.shows {
		display: block
	}
	.buttons {
		display: flex;
		margin-bottom: 10px;
	}
	.shows button {
		border-bottom: 1px solid white;
		border-right: none;
	}
	.shows button:last-child {
		border-right: 1px solid white;
	}
	.table, .row, .cell {
		display: block;
	}
	.row {
		border-bottom: 1px solid white;
		margin-bottom: 10px;
	}
}
